*,
*::after,
*::before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	outline: transparent;
}
* {
	margin: 0;
	padding: 0;

	font-family: inherit;
	line-height: inherit;
	color: inherit;
}
*::selection {
	color: var(--font-color-for-accent-color);
	background-color: var(--accent-color);
}
*::-moz-selection {
	color: var(--font-color-for-accent-color);
	background-color: var(--accent-color);
}

:root {
	--font-family: 'Poppins', Arial, Helvetica, sans-serif;
	--font-color: #000;
	--font-color-for-accent-color: #fff;

	--accent-color: #664e83;
	--bg-color: #fff;
	--bg-linear-gradient-color-1: rgba(106, 82, 137, 1);
	--bg-linear-gradient-color-2: rgba(127, 166, 192, 1);
	--bg-linear-gradient: linear-gradient(
		to right,
		var(--bg-linear-gradient-color-1),
		var(--bg-linear-gradient-color-2)
	);
	--input-hover-color: rgba(106, 82, 137, 0.4);

	--complete-color: #b4d9f1;
	--error-color: #b30000;

	--border-radius: 0.275rem;
}
@media (prefers-color-scheme: dark) {
	:root {
		--font-color: #fff;
		--font-color-for-accent-color: var(--bg-color);
		--accent-color: #a7cde6;
		--bg-color: #2a2a2a;
	}
}

body {
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 0.9rem;
	font-style: normal;
	line-height: 1.5;
}
@media only screen and (min-width: 900px) {
	body {
		font-size: 1rem;
	}
}

main {
	min-height: 100vh;
	background: var(--bg-linear-gradient);
	padding-bottom: 2rem;
}
main > header {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 1rem;
	max-width: 100%;
	margin: auto;
	margin-bottom: 2rem;
	padding: 1rem;
	color: var(--font-color);
	background-color: var(--bg-color);
	border-radius: 0 0 0.275rem 0.275rem;
	transition: max-width 250ms ease-in-out;
}

h1 {
	color: var(--font-color);
	font-size: 1.5rem;
	font-weight: 600;
	text-transform: uppercase;
}
header > h2 {
	color: var(--font-color);
}

a {
	color: var(--accent-color);
	text-decoration: none;
}

button {
	cursor: pointer;
}

li {
	list-style: none;
}

hr {
	margin: 1rem 0;
	border: none;
	border-top: 0.1rem solid var(--font-color);
}

.content {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	max-width: 100%;
	margin: auto;
	padding: 1rem;
	background-color: var(--bg-color);
	border-radius: var(--border-radius);
	transition: max-width 250ms ease-in-out;
}
@media only screen and (min-width: 600px) {
	main > header,
	.content {
		max-width: 80%;
	}
	.content {
		padding: 2rem 1rem;
	}
}
@media only screen and (min-width: 1200px) {
	main > header,
	.content {
		max-width: 65%;
	}
	.content {
		padding: 2rem;
	}
}

.content > header {
	position: relative;
	display: flex;
	justify-content: center;
	flex-direction: column;
	color: var(--font-color);
}

.content > section {
	position: relative;
	width: 100%;
	margin: 0 auto;
}

form {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	width: 100%;
	color: var(--font-color);
}

form > fieldset > div {
	display: flex;
	flex-direction: column;
}

form div > * {
	display: block;
	width: 100%;
}

fieldset {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	border: none;
}

label {
	order: -1;
	position: relative;
	font-weight: 600;
	text-transform: uppercase;
}

@media only screen and (min-width: 900px) {
	label {
		font-size: 1rem;
	}
}

input {
	display: block;
	padding: 1rem 0.875rem;
	font-size: 0.875rem;
	background-color: transparent;
	border: 0.1rem solid var(--accent-color);
	border-radius: 0.275rem;
	transition: border 250ms ease-in-out;
}
input:focus-visible,
input:active {
	border: 0.1rem solid var(--accent-color);
}
input:focus-visible + label::before,
input:active + label::before {
	content: '>';
	position: absolute;
	top: 2.4rem;
	left: -1.2rem;
	color: var(--accent-color);
	font-size: 1rem;
}
input:focus-visible + label::after,
input:active + label::after {
	content: '<';
	position: absolute;
	top: 2.4rem;
	right: -1.2rem;
	color: var(--accent-color);
	font-size: 1rem;
}
.content > a,
button[type='submit'] {
	display: block;
	width: fit-content;
	margin: 0 0 0 auto;
	padding: 0.425rem 0.875rem;
	font-size: 0.875rem;
	font-weight: 600;
	text-transform: uppercase;
	white-space: nowrap;
	color: var(--accent-color);
	background-color: var(--bg-color);
	border: 2px solid var(--accent-color);
	border-radius: 0.275rem;
	transition: background-color 250ms ease-in-out, border 250ms ease-in-out;
}
.content > a:hover,
.content > a:focus-visible,
.content > a:active,
button[type='submit']:hover,
button[type='submit']:focus-visible,
button[type='submit']:active {
	color: var(--font-color-for-accent-color);
	background-color: var(--accent-color);
	border: 2px solid transparent;
}

.content section > header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 1.725rem;
}

.content section > header .progress_bar {
	position: relative;
	width: 10rem;
	height: 1.4rem;
	overflow: hidden;
	background-color: #ddd;
	border-radius: var(--border-radius);
}
@media only screen and (min-width: 600px) {
	.content section > header .progress_bar {
		width: 20rem;
	}
}
.content section > header .progress_bar > div {
	position: absolute;
	top: 0;
	left: 0;
	height: 1.6rem;
	background: var(--bg-linear-gradient);
}

.courses {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}
.courses li {
	width: 100%;
	font-size: 0.875rem;
}
.courses li > a,
.courses li > div:first-of-type {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 0.875rem;
	color: var(--font-color);
	background-color: transparent;
	border: 0.1rem solid var(--font-color);
	border-radius: 0.275rem;
	transition: background-color 250ms ease-in-out, border 250ms ease-in-out;
}
.courses li > a:hover,
.courses li > a:focus-visible,
.courses li > a:active {
	color: var(--font-color-for-accent-color);
	background-color: var(--accent-color);
	border: 0.1rem solid var(--accent-color);
}
.courses li > a:focus-visible::before,
.courses li > a:active::before {
	content: '>';
	position: absolute;
	top: 1.3rem;
	left: -1.2rem;
	color: var(--accent-color);
	font-size: 1rem;
}
.courses li > a:focus-visible::after,
.courses li > a:active::after {
	content: '<';
	position: absolute;
	top: 1.3rem;
	right: -1.2rem;
	color: var(--accent-color);
	font-size: 1rem;
}
.courses li > a:hover .voltooid,
.courses li > a:focus-visible .voltooid,
.courses li > a:active .voltooid {
	color: var(--font-color);
}

.courses li > a h2 {
	font-size: 1rem;
}
.courses li > div + div ul {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.answers > a {
	margin: 0 auto auto 0;
	padding: 0 0.2rem;
}
.answers > a:focus-visible {
	color: var(--bg-color);
	background-color: var(--accent-color);
}

.progress.voltooid {
	padding: 0 0.25rem;
	background-color: var(--complete-color);
	border-radius: var(--border-radius);
}

.vak_info {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	margin-top: 0.5rem;
	color: var(--font-color);
}
.vak_info span,
.enq fieldset > legend {
	padding: 0.1rem 0.5rem;
	color: var(--font-color-for-accent-color);
	background-color: var(--accent-color);
	border-radius: var(--border-radius);
}
.vak_info span::selection,
.enq fieldset > legend::selection {
	color: var(--accent-color);
	background-color: var(--bg-color);
}
.vak_info span {
	margin-right: 0.25rem;
}

.enq {
	gap: 1.2rem;
}

.enq > div {
	display: flex;
	justify-content: space-between;
}

.enq fieldset {
	width: calc(100% + 2rem);
	margin-left: -1rem;
	padding: 0 1rem 0.525rem 1rem;
	border: 1px solid transparent;
	border-radius: var(--border-radius);
	transition: border 250ms ease-in-out;
}
.enq fieldset:focus-within {
	border: 1px solid var(--accent-color);
}

.enq fieldset > div:last-of-type {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	color: var(--font-color);
	font-size: 0.9rem;
}
.enq fieldset > div:last-of-type p {
	display: inline-block;
	width: fit-content;
}

.enq fieldset input {
	opacity: 0;
	position: absolute;
	appearance: none;
	z-index: -1;
}

.enq fieldset input + span {
	width: 100%;
	text-align: center;
	border: 0.1rem solid var(--accent-color);
	border-radius: var(--border-radius);
	transition: background-color 250ms ease-in-out, border 250ms ease-in-out;
}
.enq fieldset input + span:hover {
	background-color: var(--input-hover-color);
	border-color: transparent;
}

.enq fieldset input:focus-visible + span,
.enq fieldset input:active + span,
.enq fieldset input:checked + span {
	color: var(--font-color-for-accent-color);
	background-color: var(--accent-color);
	border: 0.1rem solid var(--accent-color);
}
.enq fieldset label {
	position: relative;
	display: flex;
	justify-content: center;
	color: var(--font-color);
	cursor: pointer;
}

#kladblok {
	max-width: 53.765625rem;
	min-height: 6rem;
	background-color: var(--bg-color);
	padding: 0.25rem;
	border: 1px solid var(--accent-color);
	border-radius: var(--border-radius);
}

a[href='./dashboard.html'] {
	position: relative;
	display: inline-block;
	width: fit-content;
}
a[href='./dashboard.html']:after {
	opacity: 0;
	content: '';
	position: absolute;
	left: 0;
	display: inline-block;
	width: 100%;
	height: 1em;
	margin-top: 0.625rem;
	border-bottom: 1px solid;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(0, 1);
	transform: scale(0, 1);
}
a[href='./dashboard.html']:hover:after,
a[href='./dashboard.html']:focus-visible:after,
a[href='./dashboard.html']:active:after {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

a[href='/confirmed.html'] {
	position: relative;
}
a[href='/confirmed.html']:focus-visible {
	color: var(--bg-color) !important;
	border-color: var(--accent-color) !important;
}

a[href='/confirmed.html'].disable {
	color: #2a2a2a;
	text-decoration: line-through;
	border-color: #2a2a2a;
	cursor: auto;
	user-select: none;
}
a[href='/confirmed.html'].disable::before {
	content: attr(data-text);
	position: absolute;
	top: -1.5rem;
	left: 0;
	font-size: 0.84rem;
	font-weight: 300;
	text-transform: none;
}
a[href='/confirmed.html'].disable:hover {
	background-color: transparent;
}

.css-input:invalid {
	border: 1px solid var(--error-color) !important;
}
.css-input:invalid + label {
	color: var(--error-color) !important;
}
.err {
	border: 1px solid var(--error-color) !important;
}
.error {
	margin-top: 0.05rem;
	color: var(--error-color);
	font-size: 0.875rem;
}
.error_margin {
	margin-bottom: -0.8rem;
}

.z header {
	z-index: 2;
}

@supports (display: grid) {
	.courses li > div + div {
		display: grid;
		grid-template-columns: 1fr 0.1fr;
		padding: 1rem 0.875rem;
	}
	.enq fieldset > legend + div {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		gap: 0.25rem;
	}
	@media only screen and (min-width: 600px) {
		.enq fieldset > legend + div {
			grid-template-columns: repeat(10, 1fr);
		}
	}
}

[data-bubble] {
	transform: rotateX(180deg);
	display: grid;
	position: relative;
}
[data-bubble] > div {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	width: 88%;
	height: 1rem;
	margin: auto;
	background: var(--bg-color);
	filter: url(#blob);
}
[data-bubble] > div .bubble {
	position: absolute;
	left: var(--blob-position, 50%);
	background: var(--bg-color);
	border-radius: 100%;
	transform: translate(-50%, 50%);
}
[data-bubble] + svg {
	position: fixed;
	top: 100vh;
}
@keyframes bubble-size {
	0%,
	75% {
		width: var(--blob-size, 4rem);
		height: var(--blob-size, 4rem);
	}
	100% {
		width: 0rem;
		height: 0rem;
	}
}
@keyframes bubble-move {
	0% {
		bottom: -4rem;
	}
	100% {
		bottom: var(--blob-distance, 10rem);
	}
}

@media (prefers-reduced-motion: no-preference) {
	[data-bubble] > div .bubble {
		animation: bubble-size var(--blob-time, 4s) ease-in infinite var(--blob-delay, 0s),
			bubble-move var(--blob-time, 4s) ease-in infinite var(--blob-delay, 0s);
	}
}
